* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-1: #fff88f;
    --color-2: #ffb4c4;
    --color-3: #f1193d;
    --color-4: #c90d00;

    --blanco: #fbfbfb;
    --negro: #202020;

    --gris-claro: #c0c0c0;
    --gris-oscuro: #505050;

    --grad-fondo: linear-gradient(
        var(--color-2), 
        var(--color-1)
    );

    --grad-card: linear-gradient(
        rgba(197, 0, 154, 0.06), 
        transparent 20%,
        transparent 70%,
        rgba(197, 39, 0, 0.16) 100%
    );

    --selection-background: #864b81;
    --selection-color: white;
}

::-moz-selection { /* Codigo para Firefox */
    background: var(--selection-background);
    color: var(--selection-color);
}
  
::selection {
    background: var(--selection-background);
    color: var(--selection-color);
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 15px;
}
  
::-webkit-scrollbar-track {
    background: #101010;
}
  
::-webkit-scrollbar-thumb {
    background: #484848;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #686868;
}

.fondo {
    background-image: var(--grad-fondo);
    position: fixed;
    top: -10%;
    left: 0;
    z-index: -10;
    width: 100%;
    height: 120%;
}

body {
    color: var(--negro);
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
}

/*//// NAV ////*/
nav {
    background-color: var(--color-4);
    color: var(--blanco);
    position: sticky;
    top: -1px;
    z-index: 100;
    display: flex;
    padding: 4px;
    justify-content: right;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0 10px;
}

nav ul li {
    color: var(--blanco);
    padding: 3px;
    margin: 0 3px;
}

nav ul li:hover {
    color: var(--color-1);
}

/*//// MAIN ////*/
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
}

article {
    width: 100%;
    max-width: 700px;
    margin: 20px 0;
}

article h2 {
    margin-bottom: 15px;
}

article p {
    margin-top: 10px;
}

h1, h2, h3 {
    color: var(--color-3);
}

/*//// FOOTER ////*/
footer {
    border-top: 2px solid var(--color-4);
    color: var(--gris-oscuro);
    padding: 60px 40px;
    margin-top: 60px;
    text-align: center;
}

footer ul {
    display: block;
    list-style: none;
    margin-top: 20px;
}


/*//// PUNTO DE CORTE 500PX ////*/
@media (max-width: 500px) {
    nav {
        justify-content: center;
    }
    section {
        padding: 20px 20px;
    }
    footer {
        padding: 60px 20px;
    }
}

/*//// PUNTO DE CORTE 300PX ////*/
@media (max-width: 300px) {
    section {
        padding: 20px 10px;
    }
    footer {
        padding: 60px 10px;
    }
}