/* 
font-family: 'Alegreya Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-1: #fffce8;
    --color-2: #fe6161;
    --color-3: #f2cda8;
    --color-4: #bb2727;
    --color-5: #561a1a;

    --white: #fcfcfc;
    --black: #202020;

    --light-gray: #c0c0c0;
    --dark-gray: #505050;

    --selection-background: #2b2121;
    --selection-color: #d6a2a2;
}

::-moz-selection {
    /* Codigo para Firefox */
    background: var(--selection-background);
    color: var(--selection-color);
}

::selection {
    background: var(--selection-background);
    color: var(--selection-color);
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #101010;
}

::-webkit-scrollbar-thumb {
    background: #484848;
}

::-webkit-scrollbar-thumb:hover {
    background: #686868;
}

body {
    background-color: var(--color-1);
    color: var(--black);
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
}

/*//// Header ////*/
header {
    align-items: center;
    background-image: url(../images/planetas.jpg);
    background-size: cover;
    background-position: center;
    column-gap: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 200px;
    padding: 20px;
    row-gap: 1px;
    width: 100%;
}

h1 {
    color: var(--white);
    font-size: 3.5rem;
    font-weight: 700;
    opacity: 0.85;
    -webkit-text-stroke: 3px var(--white);
    -webkit-text-fill-color: transparent;
}

/*//// Nav ////*/
nav {
    background-color: var(--color-4);
    color: var(--white);
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 4px;
    position: sticky;
    top: -1px;
    z-index: 100;
}

a {
    text-decoration: none;
    color: var(--white);
}

nav a {
    padding: 3px;
    margin: 0 3px;
}

nav ul a:hover {
    background-color: #3c191940;
}

nav i {
    font-size: 0.85em;
}

/*//// MAIN ////*/

main {
    width: 95%;
    max-width: 800px;
    margin: 0 auto;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: var(--color-5);
    font-size: 1.3em;
    margin-bottom: 20px;
    margin-top: 25px;
}

h3 {
    color: var(--color-2);
    margin-bottom: 15px;
    margin-top: 30px;
    font-weight: 600;
    background:
        linear-gradient(
            135deg,
            black,
            black 50%,
            transparent 90%,
            transparent);
    padding: 5px 5px 5px 15px;
}

.two {
    column-gap: 20px;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 30px;
    row-gap: 25px;
    width: 100%;
}

.box {
    align-items: center;
    background: 
    repeating-linear-gradient(
        135deg,
        black,
        black 50%,
        var(--color-5));
    box-shadow: 0 1px 10px -3px gray;
    color: var(--color-1);
    display: flex;
    flex-direction: column;
    padding: 10px 10px 20px 10px;
    text-align: center;
}

.box h4 {
    font-size: 1.4rem;
    font-weight: 600;
    margin-top: 0;
}

.section-1 .text-photo-cont {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}

.section-1 .text-photo-cont .photo-cont {
    background-color: black;
    flex: 250px;
    border-radius: 10px;
}

.section-1 .text-photo-cont .photo-cont img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.section-1 .text-photo-cont .text-cont {
    flex: 250px;
}

.section-1 .text-photo-cont .text-cont p:first-of-type {
    margin: 0;
}

.stripes {
    background:
        /* repeating-linear-gradient(
            135deg,
            transparent,
            var(--color-1) 70%,
            var(--color-1) 100%), */
        repeating-linear-gradient(135deg,
            var(--color-5),
            var(--color-5) 30px,
            transparent 30px,
            transparent 35px);
    height: 60px;
    margin: 20px 0;
    opacity: 0.1;
    width: 100%;
}

.green i, .red i {
    font-size: 1.8em;
    margin: 10px 0;
}

.green i, .green h4 {
    color: #43bd43;
}

.red i, .red h4 {
    color: #e52857;
}

/*//// FOOTER ////*/
footer {
    border-top: 2px solid var(--color-4);
    color: var(--dark-gray);
    padding: 60px 40px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 30px;
    justify-content: center;
    font-size: 1rem;
}

footer .footer-text {
    flex: 200px;
    text-align: center;
}

footer .footer-links {
    flex: 200px;
    margin-top: 10px;
    display: flex;
    align-content: start;
    justify-content: center;
    gap: 20px;
    font-size: 1.2rem;
}

footer .footer-links a {
    color: var(--black);
    padding: 4px 8px;
    height: fit-content;
}

footer .footer-links a:hover {
    color: var(--color-4);
}

/*//// Media queries ////*/

@media screen and (min-width: 520px) {
    .two {
        grid-template-columns: 1fr 1fr;
    }
}