/* 
font-family: 'Alegreya Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-1: #fffce8;
    --color-2: #f8c89b;
    --color-3: #df7811;
    --color-4: #bb2727;
    --color-5: #561a1a;

    --white: #fcfcfc;
    --black: #202020;

    --light-gray: #c0c0c0;
    --dark-gray: #505050;

    --selection-background: #2b2121;
    --selection-color: #fe6161;
}

::-moz-selection { /* Codigo para Firefox */
    background: var(--selection-background);
    color: var(--selection-color);
}
  
::selection {
    background: var(--selection-background);
    color: var(--selection-color);
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 15px;
}
  
::-webkit-scrollbar-track {
    background: #101010;
}
  
::-webkit-scrollbar-thumb {
    background: #484848;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #686868;
}

body {
    background-color: var(--color-1);
    color: var(--black);
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
}

/*//// Header ////*/
header {
    min-height: 200px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    column-gap: 5px;
    row-gap: 1px;
    background-image: url(../images/planetas.jpg);
    background-size: cover;
    background-position: center;
}

header div:nth-child(2) {
    border: 3px solid red;
    display: flex;
    justify-content: space-around;
    width: 200px;
}

h1 {
    border: 3px solid red;
    color: var(--white);
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 3rem;
    font-weight: 700;
}

/*//// Nav ////*/
nav {
    background-color: var(--color-4);
    color: var(--white);
    position: sticky;
    top: -1px;
    z-index: 100;
    display: flex;
    padding: 4px;
    justify-content: right;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: var(--white);
}

nav ul a {
    padding: 3px;
    margin: 0 3px;
}

nav ul a:hover {
    background-color: #3c191940;
}

/*//// MAIN ////*/
section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 95%;
    max-width: 700px;
    margin: 0 auto;
}

h2 {
    color: var(--color-5);
    font-size: 2em;
    margin-top: 25px;
}

h3 {
    color: var(--color-3);
    margin-bottom: 15px;
    margin-top: 30px;
}

.two {
    column-gap: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    row-gap: 25px;
    width: 100%;
}

.two .card {
    flex: 270px;
}

.card {
    align-items: center;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 1px 20px -5px gray;
    color: var(--color-5);
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    text-align: center;
}

.card h3 {
    color: var(--color-4);
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 2rem;
    margin-top: 0;
}

.section-1 .cont-texto-foto {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
}

.section-1 .cont-texto-foto .cont-foto {
    background-color: black;
    flex: 250px;
    border-radius: 10px;
}

.section-1 .cont-texto-foto .cont-foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.section-1 .cont-texto-foto .cont-texto {
    flex: 250px;
}

.section-1 .cont-texto-foto .cont-texto p:first-of-type {
    margin: 0;
}

/*//// FOOTER ////*/
footer {
    border-top: 2px solid var(--color-4);
    color: var(--dark-gray);
    padding: 60px 40px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 30px;
    justify-content: center;
    font-size: 1rem;
}

footer .footer-text {
    flex: 200px;
    text-align: center;
}

footer .footer-links {
    flex: 200px;
    margin-top: 10px;
    display: flex;
    align-content: start;
    justify-content: center;
    gap: 20px;
    font-size: 1.2rem;
}

footer .footer-links a {
    color: var(--black);
    padding: 4px 8px;
    height: fit-content;
}

footer .footer-links a:hover {
    color: var(--color-4);
}

/*//// PUNTO DE CORTE 600PX ////*/
@media (max-width: 600px) {
    nav {
        justify-content: center;
    }
    footer {
        padding: 60px 20px;
    }
}

/*//// PUNTO DE CORTE 360PX ////*/
@media (max-width: 360px) {
    footer {
        padding: 60px 10px;
    }
    footer .footer-links a {
        padding: 4px 6px;
    }
}
