
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-1: #fff8f8;
    --color-2: #ff6464;
    --color-3: #f8edc4;
    --color-4: #bb2727;
    --color-5: #561a1a;

    --white: #fdfdfd;
    --black: #202020;

    --light-gray: #c0c0c0;
    --mid-gray: #808080;
    --dark-gray: #505050;

    --selection-background: #1d1717;
    --selection-color: #f9e9e9;
}

/* for Firefox */
::-moz-selection {
    background: var(--selection-background);
    color: var(--selection-color);
}

::selection {
    background: var(--selection-background);
    color: var(--selection-color);
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #101010;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

body {
    background-color: var(--white);
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

/* Header */

header {
    /* background: url(../images/planets.jpg); */
    background:
        repeating-linear-gradient(
            45deg,
            rgba(45, 1, 1, 0.2),
            rgba(167, 13, 13, 0.1) 4px,
            transparent 4px,
            transparent 8px),
        repeating-linear-gradient(
            135deg,
            rgba(180, 8, 8, 0.2),
            rgba(54, 1, 1, 0.1) 4px,
            transparent 4px,
            transparent 8px),
        linear-gradient(
            #20000090,
            #20000090),
        linear-gradient(
            135deg,
            black,
            black 10%,
            var(--color-4) 40%,
            var(--color-4) 60%,
            var(--color-2) 80%,
            var(--color-4));
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 20px 0;
}

.header-cont {
    align-items: center;
    column-gap: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    /* background: rgba(0,0,0,0.7); */
    color: var(--white);
    border-radius: 10px;
    font-size: 3.5rem;
    font-weight: 800;
    opacity: 0.85;
    /* padding: 8px 20px; */
    -webkit-text-stroke: 3px var(--white);
    -webkit-text-fill-color: transparent;
}

header span {
    font-size: 3.6rem;
    -webkit-text-stroke: 3px var(--color-2);
    -webkit-text-fill-color: transparent;
}

/* Nav */

nav {
    background: var(--color-4);
    color: var(--white);
    position: sticky;
    top: -1px;
    z-index: 100;
}

.nav-cont {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 4px 0;
}

a {
    text-decoration: none;
}

nav a {
    border-radius: 3px;
    color: var(--white);
    margin: 3px;
    padding: 1px 6px;
}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: var(--color-2);
}

nav i {
    font-size: 0.9em;
}

/* Main */

.header-cont, .nav-cont, main {
    width: 95%;
    max-width: 900px;
    margin: 0 auto;
}

h2 {
    border-bottom: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(
        135deg,
        black,
        black 10%,
        var(--color-4) 40%,
        var(--color-4) 60%,
        var(--color-2) 80%,
        var(--color-4));
    color: var(--color-5);
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 25px;
    padding-bottom: 10px;
}

img {
    background: #202002;
    display: block;
    height: 300px;
    margin: 25px 0;
    width: 100%;
    object-fit: cover;
}

.author {
    margin-bottom: 20px;
}

.author p {
    color: var(--dark-gray);
    font-size: 0.8em;
    margin: 0;
}

.author p:first-of-type {
    font-weight: 600;
}

h3 {
    border-bottom: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(
        135deg,
        black,
        black 10%,
        var(--color-4) 40%,
        var(--color-4) 60%,
        var(--color-2) 80%,
        var(--color-4));
    color: var(--color-4);
    margin-bottom: 30px;
    margin-top: 55px;
    font-weight: 600;
}

p { 
    margin: 15px 0;
}

.boxes {
    gap: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 25px 0;
    width: 100%;
}

.box {
    box-shadow: 0 2px 8px -3px var(--color-5);
    color: var(--mid-gray);
    display: flex;
    flex-direction: column;
    font-weight: 600;
    padding: 30px 5% 15px 5%;
}

.box span {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

.box h4 {
    font-size: 1.1rem;
    font-weight: 600;
}

.box i {
    font-size: 1.6em;
    position: relative;
    top: -1px;
}

ul {
    list-style: none;
}

.box ul {
    font-size: 0.9em;
}

.box li {
    margin-bottom: 8px;
}

.green i, .green h4 {
    color: #2fc22f;
}

.red i, .red h4 {
    color: #fd295e;
}

.specs {
    background: #f4f4f4;
    box-shadow: 0 2px 8px -3px var(--color-5);
    margin: 25px 0 30px 0;
    padding: 35px 15px;
}

.specs li {
    margin-bottom: 5px;
    margin-left: 10px;
    text-indent: -6px;
}

.specs li i {
    color: var(--color-2);
    font-size: 0.8em;
    font-weight: bolder;
}

.specs li b {
    font-weight: 500;
}

.specs p {
    margin: 40px 0 0 0;
}

.references p {
    margin-left: 30px;
    text-indent: -30px ;
}

.references a {
    color: var(--color-4);
}

.references a:hover {
    color: var(--color-2);
}

/* Footer */
footer {
    background: #f4f4f4;
    color: var(--dark-gray);
    column-gap: 40px;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9em;
    justify-content: center;
    margin-top: 50px;
    padding: 100px 40px;
    row-gap: 30px;
}

footer p {
    margin: 0;
}

footer .footer-text {
    flex: 200px;
    text-align: center;
}

footer .footer-links {
    align-content: start;
    display: flex;
    flex: 200px;
    font-size: 1.2rem;
    gap: 20px;
    justify-content: center;
}

footer .footer-links a {
    color: var(--black);
}

footer .footer-links a:hover {
    color: var(--color-4);
}

/* Media queries */

@media screen and (min-width: 760px) {
    .header-cont {
        justify-content: left;
    }
    body {
        font-size: 1.05em;
    }
    h2 {
        margin-top: 40px;
    }
    img {
        height: 420px;
    }
    .boxes {
        gap: 15px;
    }
    .box {
        padding: 30px 20% 15px 20%;
    }
    .specs {
        padding: 45px 40px 25px 40px;
    }
}

@media screen and (min-width: 1000px) {
    h2 {
        font-size: 1.65em;
    }
}